
.graphAxis{
    color: black;
}

.LineGraphSurround{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 50%;
}

.D3LineGraphContainer{
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
}