.graphContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-evenly;
    flex-direction: column;
    user-select: none;
}

.dualGraphContainer{
    height: 50%;
    display: flex;
    margin: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
}

.graphTitle{
    text-align: center;
    margin: 10px;
}