.userSelectContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.userSelectContainerHead{
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 14%;
    width: 100%;
    background-color: #61892F;
    color: white;
    padding: 5px;
}

.form-control{
    width: 45%;
    margin: 0;
    display: inline;
}

.btn{
    width: 45%;
    margin: 0 5px 0 5px;
}

.userContainer{
    height: 43%;
}

.dataSelectionTitle{
    font-size: 2.5vw;
    margin-bottom: 0;
}