.profileHead{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FDECEF;
    text-align: center;
}

.userProfileContainer{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #474B4F;
}

.subProfileContainer{
    display: flex;
    align-content: normal;
    flex-direction: column;
    width: 97%;
    height: 85%;
    background-color: #61892F;
    margin-bottom: 5px;
    color: #FDECEF;
    text-align: center;
    font-size: x-large;
}

.subProfileContainer:hover{
    background-color: #86C232;
    color: #222629;
}

.dataListContainer{
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    color: #FDECEF;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.dataTitle{
    padding-left: 5px;
}

.dataTitle:hover{
    padding-left: 5px;
}

.dataItem{
    list-style-type: none;
    margin: 1px 0 1px 0;
    color: #FDECEF;
    background-color: #222629;
    padding-left: 5px;
}

.dataItem:hover{
    color: white;
    background-color: #61892F;
}

.profileTitle{
    font-size: 3vw;
    margin: 0;
}