.dataSelectionScreen{
    display: flex;
    background-color: #222629;
    height: 100vh;
}

.userSelection{
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.graphContainers{
    width: 80%;
    height: 100%;
    background-color: #222629;
    color: white;
}