
.lineChartInternal{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}


.lineChartInternal-fs{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.graphDiv{
    touch-action: none;
    min-height: 135px;
    background-color: white;
    color: black;
    overflow: hidden;
}

.graphDiv-fs{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    touch-action: none;
    min-height: 135px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 3;
    color: black;
}

.setGraphFullscreen{
    width: 6%;
    min-width: 40px;
    max-width: 50px;
    position: absolute;
    margin-top: 1%;
    z-index: 1;
}

.setGraphFullscreen-fs{
    width: 6%;
    min-width: 40px;
    max-width: 50px;
    position: absolute;
    margin-top: 1%;
    z-index: 1;
}

.graphExtraPropertiesExpanded{
    position: absolute;
    background: white;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 555px;
    z-index: 2;
}

@media only screen and (max-device-width : 640px) {
    .graphExtraPropertiesExpanded{
        touch-action: none;
        max-width: none;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        position:fixed;
        padding:0;
        margin:0;
        top:0;
        left:0;
        background-color: white;
        z-index: 2;
    }
}

@media only screen and (max-device-height : 500px) {
    .graphExtraPropertiesExpanded{
        max-width: none;
        touch-action: none;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        position:fixed;
        padding:0;
        margin:0;
        top:0;
        left:0;
        background-color: white;
        z-index: 2;
    }
}

.propertyToggle{
    width: 6%;
    min-width: 40px;
    max-width: 50px;
    position: absolute;
    margin-top: 50px;
    z-index: 1;
}

.propertyToggle-fs{
    width: 6%;
    min-width: 40px;
    max-width: 50px;
    position: absolute;
    margin-top: 50px;
    z-index: 1;
}

.propertyToggleExpanded{
    width: 50px;
    float: left;
    display: inline;
}



.graphExtraProperties{
    display: inline;
    margin: auto;
}

.graphOptionsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    margin: 5px;
}

.graphCheckboxDiv{
    display: block;
}

.checkBoxLabel{
    padding: 5px;
}
.numberInputLabel{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float:left;
}
.numberSlider{
    margin: 5px;
    width: 200px;
    max-height: 30px;
}

.numberBox{
    text-align: center;
    margin: 5px;
    max-height: 30px;
}

.changeNumberDiv{
    padding-left: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.numberSubmitButton{
    margin: 5px;
    max-height: 30px;
}

.dataRepresentationLabel{
    padding: 3px;
    text-align: center;
    margin: auto;
}

.dataRepresentationLabel-fs{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 90%;
    transform: translate(-50%);
    text-align: center;
    margin: auto;
}